body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #ececec;
}

main {
    text-align: center;
}

canvas {
    display: block;
    border: 2px solid #000;
}
